<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>모두의 일퀘 - 챌린지 리스트</title>
        <link href="/main_style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href="/main">홈페이지</a></li>
                <li><a href="/hot">인기 챌린지</a></li>
                <li>커뮤니티</li>
                <li><a href= "/logout">로그아웃</a></li>
                <li><a href = "/mypage">My Page</a></li>
                <li>My Cash : <%= 유저.cash%></li>
                <li><a href="/pay">Cash+</a></li>
                <li>로그인된 아이디 : <%= 유저.username%></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="challenge-list">
            <h1 style="text-align: center;">TOP_5 챌린지</h1>

            <% for(let i = 0; i < 챌린지.length; i++) { %>
            <div class="challenge-card">
                <h2><%= 챌린지[i].title %></h2>
                <p>참여인원 : <%= 챌린지[i].participants %>명</p>
                <p>참가비 : <%= 챌린지[i].fee %>원</p>
                <p>챌린지 종료 : <%= 챌린지[i].deadline %></p>
                <button onClick="location.href='/challenge_detail/<%= 챌린지[i]._id %>'">참여하기</button>
            </div>
            <% } %>

        </section>
    </main>

    <button onClick="location.href='/create_challenge'" class="create_button">+</button>

    <footer>
        <p>© 2024 모두의 일퀘. All rights reserved.</p>
    </footer>
    </body>
</html>
